<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gcfw.equipment.mapper.EquMapper">
    <!-- id：返回的是所有对象的Map集合，type：每个对象是User类 -->
    <select id="getEquList" parameterType="com.gcfw.equipment.vo.EquQuery"  resultType="com.gcfw.equipment.entity.Equ">
        select * from equipment_info

         <where>
             <if test="deviceID != null">
                 deviceID like '%' #{deviceID} '%'
             </if>
         </where>
        limit #{start},#{limit}
    </select>
    <select id="countEquList" parameterType="com.gcfw.equipment.vo.EquQuery"  resultType="Long">
        select count(1) from equipment_info
    </select>

    <select id="getEquById" parameterType="integer" resultType="com.gcfw.equipment.entity.Equ">
        select *
        from equipment_info
        where id = #{id};
    </select>
    <select id="getAllEqud"  parameterType="com.gcfw.equipment.entity.Equ"   resultType="com.gcfw.equipment.entity.Equ">
        select deviceID  from equipment_info

    </select>

</mapper>

