<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>设备列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">设备编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="deviceID" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button id="btn-search" type="submit" class="layui-btn layui-btn-radius layui-btn-normal"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                            <button id="btn-rst" type="reset" class="layui-btn layui-btn-radius layui-btn-normal"  ><i class="layui-icon layui-icon-return"></i> 重 置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <table id="table-equ" class="layui-hide" lay-filter="table-equ-filter"></table>

        <script type="text/html" id="col-equ-toolbar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>


<script  th:src="@{/webjars/jQuery/dist/jquery.min.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">

    function refreshTable() {
        $("#btn-rst").click();
        $("#btn-search").click();

    }
    var ctxPath=[[@{/}]];
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#table-equ'
            ,url: ctxPath+'equ/list' //数据接口
            ,page: true //开启分页
            ,limits: [5, 10, 15, 25, 50, 100]
            ,limit: 5
            ,toolbar: '#toolbarDemo'
            ,cols: [[ //表头
                {type: "checkbox", width: 50},
                {field: 'id', title: '序号', width:80, sort: true}
                ,{field: 'deviceID', title: '设备编码', width:105, sort: true}
                 ,{field: 'equi_name', title: '设备名称', width:100}
                ,{field: 'sort', title: '设备工况', width: 100}
                ,{field: 'equ_videoid', title: '设备视频编码', width: 155}
                ,{field: 'productiondate', title: '设备出厂日期', width: 180}
                ,{title: '操作' , minWidth: 150, toolbar: '#col-equ-toolbar', align: "center"}
            ]]
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {

            var result = JSON.stringify(data.field);

            //刷新重载
            table.reload('table-equ', {
                page: {
                    curr: 1
                }
                , where: {
                    deviceID: data.field.deviceID
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar 添加监听
         */
        table.on('toolbar(table-equ-filter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加设备',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: ctxPath+'equ/add/ui',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
            // 监听删除操作
            else if (obj.event === 'delete') {
                var checkStatus = table.checkStatus('table-equ')
                    , data = checkStatus.data;
                //layer.alert(JSON.stringify(data));
                //如果没有选中数据
                if (checkStatus.data.length === 0) {
                    layer.alert('未选中任何数据', {icon: 2, anim:6 ,title: "警告"});
                    return false;
                }
                //选中的id
                var idArr=new Array();
                $(checkStatus.data).each(function () {
                    idArr.push(this.id);
                });

                //console.log(data[0].deviceID);
                layer.confirm('请确认删除该设备?' , {icon: 3, title:'确认'}, function (index) {
                    //异步请求删除数据、刷新表格
                    var url = ctxPath+"equ/" + idArr.join(",");
                    var params = {
                        _method: "DELETE"
                    }
                    $.post(url, params, function (response) {
                        if (response.code === 0) {
                            layer.msg(response.message, {icon: 1 });
                            refreshTable();
                        } else {
                            layer.msg(response.message, {icon: 2, anim: 6 })
                            refreshTable();
                        }
                    });

                });

            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //监听表格内操作按钮
        table.on('tool(table-equ-filter)', function (obj) {
            var data = obj.data;
            //console.log(data)
            if (obj.event === 'edit') {

                layer.open({
                    type: 2,
                    title: "编辑设备",
                    area: ['100%', '100%'],
                    shadeClose: true,
                    content: 'equ/' + data.id
                });


                return false;


            }
               //单条删除
                else if (obj.event === 'delete') {
                //删除一条
                layer.confirm('请确认删除该设备【'+ data.deviceID + ' 】?' , {icon: 3, title:'确认'}, function (index) {
                    //异步请求删除数据、刷新表格
                    var url = ctxPath+"equ/" + data.id;
                    var params = {
                        _method: "DELETE"
                    }
                    $.post(url, params, function (response) {
                        if (response.code === 0) {
                            layer.msg(response.message, {icon: 1 });
                            refreshTable();
                        } else {
                            layer.msg(response.message, {icon: 2, anim: 6 })
                            refreshTable();
                        }
                    });

                });

            }
        });

    });
</script>

</body>
</html>